/* Assuming your tab container has a class like 'tab-container' */
.tab-container {
  vertical-align: bottom;
  display: flex;
  justify-content: center; /* Center tabs horizontally */
  align-items;
  padding: 20px;
  background-color: black;
  margin: 0px;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.5);
  
}

body {
  font-family: 'Montserrat', cursive;
  background-image: url('../dist/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
}


button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  border-style: none;
  outline: none;
}

.button-nav {
  padding: 2rem;
  font-size: 2rem;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  transition: transform 0.3s;
}

.tab.active {
  border-bottom: 2px solid var(--font-color);
}

.tab:hover {
  transform: translateY(-10%);
  /* transform: scale(1.2); */
}

.tab {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 8px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0px;
  background-color: white;
  opacity: 1;
  z-index: 10; /* set higher z-index value */
  position: relative; /* position must be set for z-index to work */
}

#home-btn {
  padding: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: 2px transparent;
  transition: transform 0.3s;
  color: white;
}

#menu-btn {
  padding: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: 2px transparent;
  transition: transform 0.3s;
  color: white;
}

#contact-btn {
  padding: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: 2px transparent;
  transition: transform 0.3s;
  color: white;
}

/* Rest of your existing CSS for .contact-form, input, h1, img, and p */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-item {
  width: 45%; /* Set the width of each menu item to 45% for two items in a row */
  margin-bottom: 20px;
  margin-right: 5px; /* Add margin-right to reduce space between items */
}

/* Add this CSS for better styling and spacing */
.menu-item h2 {
  margin-bottom: 10px;
}

.menu-item p {
  margin-bottom: 10px;
}

/* Add this CSS to style the images */
.menu-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Add border-radius for a rounded corner effect */
}


/* Media query for responsiveness */
@media (max-width: 768px) {
  .menu-item {
    width: 100%; /* Set the width to 100% for single column on smaller screens */
  }
}

input {
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

h1, h2, img, p, ul, li {
  text-align: center;
  color: white;
}

img {
  display: block;
  margin: 0 auto;
}

.page-content {
  overflow:auto;
  margin-left:auto;
  margin-right:auto;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 600px;
  width: 45%;
}

.page-content p {
  font-size: larger;
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.page-content h1 {
  font-size: xx-large;
}


.contact-form  p {
  font-family: 'Tangerine', cursive;
  font-size:larger;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.contact-form img {
  width: 40rem;
}

/* footer */

.footer {
  font-family: 'Courier New', Courier, monospace;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  align-items: center;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.5);
  position: fixed; /* Change to fixed to keep it at the bottom */
  bottom: 0;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  height: 40px;
  width: 100%;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
